@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.main-container {
  background-color: #1c1b19;
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.bg-container {
  background-image: url("https://res.cloudinary.com/chakrateja/image/upload/v1689670277/teja/header-image_naqd47.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  /*background-color: black;*/
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8%;
}

.logo-img {
  cursor: pointer;
  width: 150px;
}

.sign-btn {
  background-color: #db0001;
  font-family: "Roboto";
  margin-left: 10px;
  color: #fff;
}

.lang-btn {
  background-color: transparent;
  border: 1px solid #fff;
  font-family: "Roboto";
}

.header-content {
  text-align: center;
  margin: 10%;
}

.h1-heading {
  color: #fff;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 50px;
}

.h3-heading {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Roboto";
}

.paragraph {
  color: white;
  font-family: "Roboto";
}

.email-signup {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: visible;
}

.email-signup input {
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}

.email-signup button {
  background-color: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
}

/* -------Features section -------- */
.feature-section {
  background-color: black;
  width: 100%;
}

.feature-heading {
  color: #fff;
  font-family: "Roboto";
  font-weight: 600;
}

.feature-paragraph {
  color: #fff;
  font-family: "Roboto";
}

.feature-img {
  width: 100%;
}

/* -------question section ---------*/

.question-section {
  background-color: black;
  width: 100%;
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto";
}

.question-heading {
  color: #fff;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 50px;
}

.accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
  color: #fff;
}

.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

input[type="radio"] {
  display: none;
}

.accordion .contect {
  background: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .contect {
  max-height: 600px;
  padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}

.question-section .email-signup {
  max-width: 600px;
  margin: 20px auto 60px;
}

.question-section small {
  font-size: 20px;
  color: #fff;
}

/*--------footer section ----------*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: auto;
  padding-bottom: 1.5rem;
}

.footer-content {
  max-width: 1100px;
  padding: 30px;
  margin: auto;
  /* margin-right: 10px; */
  background-color: rgb(35, 24, 24);
}

.footer-content .sign-in {
  padding: 10px 35px;
}

footer p {
  font-size: 16px;
  color: rgb(185, 185, 185);
  padding-left: 40px;
}

footer span {
  text-decoration: underline;
  cursor: pointer;
}

.footer-content .links {
  display: flex;
}

.footer-content .links .links-row {
  padding-right: 130px;
  font-size: 14px;
}

.footer-content .links .links-row ul li {
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
  line-height: 35px;
  color: rgb(185, 185, 185);
}
.footer-signin {
    display: flex;
    gap: 15px;
  }
  .footer-signin > p{
    margin: auto 0;
  }

@media screen and (max-width: 412px) {
  nav {
    padding: 0 5px;
  }
  .email-signup input {
    margin-left: 0;
    padding: 0 10px;
  }
  .email-signup button {
    background-color: #e61212;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 10px;
    padding: 15px;
  }
  .question-section {
    padding: 0 20px;
  }
  .accordion {
    width: 100%;
    padding: 0;
    margin: 20px 0;
  }
  .footer-content {
    padding: 10px;
     margin-right: 10px;
  }
  .footer-content .links .links-row {
    padding-right: 0;
    font-size: 14px;
  }
}
